:root {
  --dominantColor: #2016e9; /* var(--dominantColor) !important; */
  --secondaryColor: #1676e9; /* var(--secondaryColor) !important; */
  --accentColor: #8916e9; /* var(--accentColor) !important; */
  --backgroundColor: #16e0e9; /*var(--backgroundColor) !important; */
}
